{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
          integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static  'css/jquery.arcticmodal-0.3.css' %}">
    <link rel="stylesheet" href="{% static 'css/simple.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
    <section id="banner">
        <div class="container">
            <div class="banner">
                <div class="row">
                    <div class="col-md-10 col-lg-7 col-xl-6">
                        <div class="banner__block">
                            <h1 class="banner__title">Запишись на первую услугу со <span
                                    class="yellow banner__title_discount">скидкой 50%</span></h1>
                            <div class="banner__elems">
                                <img src="{% static 'img/persons.svg' %}" alt="persons"
                                     class="banner__elems_img">
                                <p class="banner__elems_intro">
                                    <span class="yellow banner__elems_over">Более 1 000</span>
                                    довольных клиентов
                                </p>
                            </div>
                            <a href="{% url 'saloon' %}">
                                <button class="banner__btn">Записаться</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5">
                        <img src="{% static 'img/bannerImg.svg' %}" alt="bannerImg" class="banner__img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="salons">
        <div class="container">
            <div class="salons pb100">
                <div class="salons__slider_arrows fic mob">
                    <div class="title">Наши салоны</div>
                    <div class="slider__arrows fic">
                        <div class="slider__arrows_arrow leftArrow">
                            <i class="arrowRight"></i>
                        </div>
                        <div class="slider__arrows_arrow rightArrow">
                            <i class="arrowLleft"></i>
                        </div>
                    </div>
                </div>
                <div class="title dec">Наши салоны</div>
                <div class="row salonsSlider">
                    {% for saloon in saloons %}
                        <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                            <div class="salons__block">
                                <img src="{{ saloon.image }}" alt="salon"
                                     class="salons__block_img">
                                <div class="salons__elems">
                                    <div class="block__title salons__elems_title">{{ saloon.name }}</div>
                                    <div class="salons__elems_light">{{ saloon.address }}</div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="services pb100">
                <div class="services__slider_arrows fic">
                    <div class="title">Услуги</div>
                    <div class="slider__arrows fic">
                        <div class="slider__arrows_arrow leftArrow">
                            <i class="arrowRight"></i>
                        </div>
                        <div class="slider__arrows_arrow rightArrow">
                            <i class="arrowLleft"></i>
                        </div>
                    </div>
                </div>

                <div class="row servicesSlider">
                    {% for service in services %}
                    <div class="col-md-3">
                        <div class="cardBlock services__block">
                            <img src="{{ service.image }}" alt="service"
                                 class="services__block_img">
                            <div class="services__elems">
                                <div class="services__elems_title">{{ service.name }}</div>
                                <div class="services__elems_light">{{ service.price }} ₽</div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="masters">
        <div class="container">
            <div class="masters pb100">
                <div class="masters__slider_arrows fic">
                    <div class="title">Мастера</div>
                    <div class="slider__arrows fic">
                        <div class="slider__arrows_arrow leftArrow">
                            <i class="arrowRight"></i>
                        </div>
                        <div class="slider__arrows_arrow rightArrow">
                            <i class="arrowLleft"></i>
                        </div>
                    </div>
                </div>

                <div class="row mastersSlider">
                    {% for specialist in specialists %}
                        <div class="col-md-3">
                            <div class="cardBlock masters__block">
                                <div class="masters__header fic">
                                    <img src="{{ specialist.image }}" alt="master"
                                         class="masters__header_img">
                                    <div class="masters__header_elmes">
                                        <div class="masters__header_name">{{ specialist.name }}</div>
                                        <img src="{% static 'img/rating.svg' %}" alt="rating"
                                             class="masters__header_rating">
                                        <div class="masters__header_reviews">{{ specialist.review }} отзыва</div>
                                    </div>
                                </div>
                                <div class="masters__main">
                                    <div class="masters__main_speciality">СПЕЦИАЛЬНОСТЬ:</div>
                                    <div class="masters__main_intro">{{ specialist.speciality }}</div>
                                </div>
                                <div class="masters__footer fic">
                                    <div class="masters__footer_block">
                                        <div class="masters__footer_light">СТАЖ РАБОТЫ:</div>
                                        <div class="masters__footer_num">{{ specialist.experience.0 }} г. {{ specialist.experience.1 }} мес.</div>
                                    </div>
                                    <a style="text-decoration: none;" href="{% url 'saloon' %}"><button class="masters__footer_btn">Записаться</button></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section id="reviews">
        <div class="container">
            <div class="reviews pb100">
                <div class="reviews__slider_arrows fic">
                    <div class="title">Отзывы</div>
                    <div class="slider__arrows fic">
                        <div class="slider__arrows_arrow leftArrow">
                            <i class="arrowRight"></i>
                        </div>
                        <div class="slider__arrows_arrow rightArrow">
                            <i class="arrowLleft"></i>
                        </div>
                    </div>
                </div>

                <div class="row reviewsSlider">
                    {% for review in reviews %}
                        <div class="col-md-3">
                            <div class="reviews__block">
                                <div class="reviews__name">{{ review.client }}</div>
                                <img src="{% static 'img/rating.svg' %}" alt="rating"
                                     class="reviews__header_rating">
                                <div class="reviews__block_text">
                                    {{ review.text }}
                                </div>
                                <div class="reviews__block_date">{{ review.date }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <section id="contacts">
        <div class="container">
            <div class="contacts">
                <div class="title contacts__title">Контакты</div>
                <div class="row">
                    <div class="col-md-12 col-lg-4 col-xl-3">
                        <form action="#" class="contacts__form">
                            <div class="contacts__form_title">Оставьте заявку на консультацию</div>
                            <div class="contacts__form_block">
                                <input type="text" name="fname" class="contacts__form_iunput" placeholder="Введите имя"
                                       required>
                                <div class="contacts__form_inputBlock">
                                    <input type="text" name="tel" class="contacts__form_iunput"
                                           placeholder="+7(999)999--99-99" required>
                                </div>
                            </div>

                            <textarea name="contactsTextarea" class="contacts__form_textarea"
                                      placeholder="Вопрос(необязательно)"></textarea>
                            <div class="contacts__form_checkboxBlock fic">
                                <input type="checkbox" class="contacts__form_checkbox" checked>
                                <span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
                            </div>
                            <button type="submit" class="contacts__form_btn">Отправить</button>
                        </form>
                    </div>
                    <div class="col-md-12 col-lg-3">
                        <div class="contacts__locationBlock">
                            {%  for saloon in saloons %}
                                <div class="contacts__location fic">
                                    <img src="{% static 'img/location.svg' %}" alt="location"
                                         class="contacts__location_icon">
                                    <div class="contacts__location_info">
                                        <div class="contacts__location_intro">{{ saloon.address }}</div>
                                        <div class="contacts__location_date">с 10:00 до 20:00 без выходных</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="contacts__block">
                            <div class="contacts__social">
                                <div class="contacts__social_title">соц. сети</div>
                                <div class="contacts__social_block fic">
                                    <a href=""><img src="{% static 'img/wa.svg' %}" alt="wa"
                                                    class="contacts__social_icon"></a>
                                    <a href=""><img src="{% static 'img/vk.svg' %}" alt="vk"
                                                    class="contacts__social_icon"></a>
                                    <a href=""><img src="{% static 'img/tg.svg' %}" alt="tg"
                                                    class="contacts__social_icon"></a>
                                    <a href=""><img src="{% static 'img/insta.svg' %}" alt="insta"
                                                    class="contacts__social_icon"></a>
                                </div>
                            </div>
                            <div class="contacts__info">
                                <div class="contacts__infoBlock">
                                    <div class="contacts__info_title">контакты</div>
                                    <a href="tel:+79179023800" class="contacts__info_tel">+7 (917) 902 38 00</a>
                                </div>
                                <a href="#" class="contacts__info_mail">hello@beauty.ru</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-5 col-xl-6">
                        <div class="contacts__map">
                            <script type="text/javascript" charset="utf-8" async
                                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab7c7d417e660dbf6565501ccc84acd33ec7588fd751ceabc6947e3e9b881e413&amp;lang=ru_RU&amp;scroll=true"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/air-datepicker.js' %}"></script>
    <script src="{% static 'js/jquery.arcticmodal-0.3.min.js' %}"></script>
{% endblock %}